# import MySQL connector

In [4]:
import mysql.connector as co

# connect to database

In [7]:
import mysql.connector as co
new_db = co.connect(
host = "localhost",
user = "root",
password = "root" 
)
print (new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001DB0CA06FD0>

# Creating DATA BASE

In [8]:
import mysql.connector as co
new_db = co.connect(
host = "localhost",
user = "root",
password = "root" 
)
my_cursor = new_db.cursor()
my_cursor.execute(" CREATE DATABASE mydata")

# check if database exist (created)

In [4]:
import mysql.connector as co
new_db = co.connect(
host = "localhost",
user = "root",
password = "root" 
)
cursor = new_db.cursor()
cursor.execute(" SHOW DATABASES ")
for a in cursor:
    print(a)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

# Creating Tables and showing Data

In [13]:
import mysql.connector as co
new_db = co.connect(
host = "localhost",
user = "root",
password = "root" ,
    database = "mydata"
)
new_cursor = new_db.cursor()
new_cursor.execute("CREATE TABLE Students (name VARCHAR(200), regno VARCHAR(10))")

# List all Tables in new database

In [7]:
import mysql.connector as co
new_db = co.connect(
    host = "localhost",
    user = "root",
    password = "root" ,
    database = "mydata"
)
new_cursor = new_db.cursor()
query = "SHOW TABLES"
new_cursor.execute(query)
for a in new_cursor:
    print(a)

ProgrammingError: 1049 (42000): Unknown database 'mydata'

# Inserting data into Tables

In [6]:
import mysql.connector as co
new_db = co.connect(
    host = "localhost",
    user = "root",
    password = "root" ,
    database = "mydata"
)
new_cursor = new_db.cursor()
query = "INSERT INTO students (name, regno) VALUES (%s, %s)"
values = ("rahul", "393CS19001")
new_cursor.execute(query,values)
new_db.commit()
print(new_cursor.rowcount, "new row inserted")

ProgrammingError: 1049 (42000): Unknown database 'mydata'

# Inserting Multiple records into Tables

In [5]:
import mysql.connector as co
new_db = co.connect(
    host = "localhost",
    user = "root",
    password = "root" ,
    database = "mydata"
)
new_cursor = new_db.cursor()
sql = "INSERT INTO students (name, regno) VALUES (%s, %s)"
values = [("abinav", "393CS19002"),
         ("akash", "393CS19003"),
         ("omkar", "393CS19004"),
         ("shreedhar", "393CS19005")
         ]
new_cursor.executemany(sql,values)
new_db.commit()
print(new_cursor.rowcount, "new record inserted")

ProgrammingError: 1049 (42000): Unknown database 'mydata'

# Display the Records From Table

In [2]:
import mysql.connector as co
new_db = co.connect(
    host = "localhost",
    user = "root",
    password = "root" ,
    database = "mydata"
)
new_cursor = new_db.cursor()
query = " SELECT * From students"
new_cursor.execute(query)
for a in new_cursor:
    print(a)

ProgrammingError: 1049 (42000): Unknown database 'mydata'

# display particular record from database

In [3]:
import mysql.connector as co
new_db = co.connect(
host = "localhost",
user = "root",
password = "root" ,
    database = "mydata"
)
new_cursor = new_db.cursor()
query = " SELECT name From students"
new_cursor.execute(query)
for a in new_cursor:
    print(a)

ProgrammingError: 1049 (42000): Unknown database 'mydata'